<h1>Help</h1>
<p>
  Get help on the Ruby on Rails tutorial at the
  <a href = "https://railstutorial.jp/help">Rails tutorail help </a>
  to get help on the sample_app, see the
  <a href = "https://railstutorial.jp/#ebook"><em> Ruby on Rails Turorial</em>
  book</a>
</p>